<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="images/icon.jpeg" />
<link rel="bookmark" href="images/icon.jpeg" type="image/x-icon" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <title>{{ site.title }}</title>
</head>
<body>
    <main>
        <header class="site-header">
            <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            <nav class="site-nav">
                <a href="{{ site.baseurl }}/miscellaneous/" class="{% if page.url == '/miscellaneous/' %}active{% endif %}" style="color: orange;">Miscellaneous</a>
                <a href="{{ site.baseurl }}/sharing/" class="{% if page.url == '/sharing/' %}active{% endif %}" style="color: orange;">Sharing</a>
            </nav>
        </header>
        {{ content }}
    </main>
    {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
</body>
</html>
